
        /* body{
            background-color: rgb(72, 0, 255);
        } */
        /* #first{
            background-color: aqua;
        }
        .bg-blue{
            background-color: blue;
            color: white;
        } */
         /* #head{
            background-color: aqua;
         } */
          /* *{
            margin: 0;
            padding: 0;
          }
    .red{
background: rgba(255, 0, 234, 0.914);
height: 90px;
color: white;
    }
    .green{
        background: green;
        color: aqua;
    } */
     .green{
        background-color:bisque ;
        color: rgb(221, 0, 255);}
     .red{
        background-color: black;
        color: aliceblue;
     }